/* CSS for article layout only */

:root {
    --primary-color: #111;
    --secondary-color: #19199D;
    --background-color: whitesmoke;
}

html {
    background-color: var(--background-color);
    overscroll-behavior: none;
}

.page {
    display: flex;
    min-height: 100vh;
    min-height: 100dvh;
    background: var(--secondary-color);
}

.cover {
    flex: 1;
    position: sticky;
    top: 0;
    z-index: 3;
    height: 100vh;
    border-right: 7px solid transparent; /* Equalizes widths to acccount for flexbox discrepancies */
    animation: fadeIn 1.5s ease forwards;
    -webkit-animation: fadeIn 1.5s ease forwards; 
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    border-left: 7px solid var(--primary-color);
    background: var(--background-color);
}

.dark-mode-toggle {
    position: absolute;
    top: 2rem;
}

.text {
    padding: 5.5rem 1.5rem;
    color: var(--primary-color);
}

.text-inner {
    max-width: 38rem;
}

section {
    padding-bottom: clamp(2rem,3vw,4rem);
}

.intro {
    margin: 2rem 0;
} 

blockquote {
    margin: 3rem auto;
    padding: 0 .5rem 0 .5rem;
}

/*Mobile*/

@media (max-width: 768px) {
    .page {
        display: block;
    }

    .cover {
        position: relative;
        height: 50vh;
        border:unset;
    }

    .content {
        border-top: 7px solid var(--primary-color);
        border-left: unset;
    }

    .dark-mode-toggle {
        position: relative;
        top: .5rem;
    }

    .text {
        padding: 3rem 1rem;
    }

    .text-inner {
        max-width: unset;
        padding: 2rem 0;
    }
}