/* CSS for auxilliary pages like 404 */

:root {
    --primary-color: whitesmoke;
    --secondary-color: #39FF14;
}  

body {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--primary-color);
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4.5rem var(--padding-x);
}


a {
    background-image: linear-gradient(transparent 80%, var(--secondary-color) 80%) !important;
    background-size: 100% 10px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    padding-bottom: .15rem;
}

a:hover {
    text-shadow: 0 0 10px var(--secondary-color), 0 0 15px var(--secondary-color), 0 0 20px var(--secondary-color);
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(2rem,5vw,3rem);
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
}

h1.blink, #error p {
    font-size: var(--body-font-size);
}

h1 span {
    color: var(--secondary-color);
}

h1:not(.blink) {
    margin: 1rem 0 2rem;
}