@font-face {
    font-family: 'MD-IO';
    src: url(/assets/type/MD_IO.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

:root {
    --font: 'MD-IO', Helvetica, Arial, sans-serif;
    --body-font-size: clamp(.94rem, 3.5vw, 1rem);
    --heading-font-size: clamp(1.67rem, 3vw, 1.85rem);
    --primary-color: floralwhite;
    --accent-color: lightblue;
    --background-color: #111;
    --form-field-color: #111;
    --form-field-background-color: floralwhite;
    svg {
        fill: var(--primary-color)
    }
    .play-pause .icon {
        fill: var(--background-color)
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: none;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100dvh;
    color: var(--primary-color);
    background-color: var(--background-color)
}

.acme-all-purpose-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 46rem;
    min-height: 100dvh;
    background-color: var(--background-color)
}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 46rem;
    padding-top: clamp(2rem, 2vw, 4rem);
    background-color: var(--background-color)
}

@media (hover:hover) and (pointer:fine) {
    header .big-max:hover {
        filter: unset;
        fill: var(--accent-color)
    }
}

header a {
    display: flex;
    height: 100%
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 0 2.5rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-family: var(--font);
    font-size: var(--body-font-size);
    background-color: var(--primary-color)
}

nav a {
    color: var(--background-color)
}

nav a.active {
    text-decoration: line-through
}

@media (hover:hover) and (pointer:fine) {
    nav a:hover {
        text-decoration: line-through
    }
}

nav button {
    cursor: pointer;
    display: none;
}

svg.hidden {
    display: none
}

.yikes {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 46rem;
    padding: .5rem 0;
    background-color: var(--background-color)
}

.yikes p {
    margin: 0;
    color: var(--accent-color)
}

main {
    width: 100%;
    padding-bottom: clamp(2rem, 2vw, 4rem)
}

section:not(:last-child) {
    margin: 0 0 3rem
}

.some-news:not(:last-child) {
    margin-bottom: 1.5rem
}

.some-media:not(:last-child) {
    margin-bottom: 3rem
}

p,
li {
    font-family: var(--font);
    font-size: var(--body-font-size);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0 0 1rem;
    color: var(--primary-color)
}

.info p span {
    margin-right: 1rem;
    color: var(--accent-color)
}

a {
    display: inline;
    position: relative;
    line-height: 1.6;
    text-decoration: none;
    color: var(--primary-color)
}

p a,
li.link a {
    background-image: linear-gradient(transparent 80%, var(--accent-color) 80%);
    background-size: 100% 10px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    padding-bottom: .15rem
}

a {
    font-family: var(--font);
    font-size: var(--body-font-size)
}

.just-a-list li {
    list-style: none
}

.just-a-list li span {
    color: var(--accent-color)
}

.just-a-list li:not(.link) {
    pointer-events: none
}

.fancy-pants-list li {
    list-style: decimal;
    list-style-position: inside;
    color: var(--accent-color)
}

.fancy-pants-list p {
    margin: 1rem 0 2.5rem
}

h2 {
    font-family: var(--font);
    font-size: var(--heading-font-size);
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    margin: 0 0 1.5rem;
    color: var(--primary-color)
}

hr {
    border: 1px dashed var(--primary-color);
    background: none;
    margin: 2rem 0
}

.inline-graphic {
    height: clamp(1.17rem, 3vw, 1.3rem);
    width: auto;
    vertical-align: middle
}

.moolah {
    height: var(--heading-font-size);
    vertical-align: top;
    margin-left: .25rem
}

.lft-arrow {
    height: clamp(.59rem, 2vw, .65rem);
    width: auto;
    vertical-align: baseline;
    padding-right: .2rem
}

@media (max-width:768px) {
    header {
        padding: 2rem 1rem 0
    }
    main {
        padding: 0 1rem 2rem
    }
    .yikes {
        padding: .5rem 1rem
    }
}

.blinkeroo {
    display: inline-block;
    -webkit-animation: 1s infinite blink;
    animation: 1s infinite blink
}

@keyframes blink {
    0%,
    15% {
        opacity: 0
    }
    16%,
    100% {
        opacity: 1
    }
}

@-webkit-keyframes blink {
    0%,
    15% {
        opacity: 0
    }
    16%,
    100% {
        opacity: 1
    }
}