@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'ABC Diatype Medium';
    src: url('/assets/type/ABC_Diatype_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/smiley_point.svg'), auto;
}

html a:hover {
    cursor: url('/assets/graphics/smiley_hover.svg'), auto;
}

body { 
    background: transparent;
    margin: 0;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
} 

.page {
    display: flex;
    width: 100%;
    height: 100%;
    background: #19199D;
}

.cover {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    border-right: 5px solid #111;
    animation: fadeIn 1.5s ease forwards;
    -webkit-animation: fadeIn 1.5s ease forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with transparency */
    }
    to {
        opacity: 1; /* Fully opaque */
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    background: #FFFEFC;
}

.text-inner {
    max-width: 45rem;
    padding: 3rem 2rem;
}

#ncmg .text-inner {
    max-width: 44rem;
}

p {
    font-family: 'ABC Diatype', Arial, Helvetica, sans-serif;
    font-size: clamp(1.15rem,3vw,1.3rem);
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.5;
    margin: 1rem 0 0 0;
}

h2 {
    font-family: 'ABC Diatype', Arial, Helvetica, sans-serif;
    font-size: clamp(1.04rem,2.7vw,1.17rem);
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.4;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'ABC Diatype', Arial, Helvetica, sans-serif;
    font-size: clamp(1.53rem,3.6vw,2.16rem);
    font-weight: 400;
    font-style: normal;
    color: #111;
    line-height: 1.2;
    margin: 0 0 .75rem 0;
}

h1 {
    font-family: 'ABC Diatype Medium', Arial, Helvetica, sans-serif;
    font-size: clamp(1.7rem,4vw,2.4rem);
    font-weight: 500;
    font-style: normal;
    color: #111;
    line-height: 1.2;
    margin: 0 0 1.5rem 0;
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-family: 'ABC Diatype Medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: #111;
    text-decoration: none;
}

blockquote {
    margin: 2rem auto;
    padding: 0 .5rem 0 .5rem;
}

hr {
    background: #111;
    border: 0;
    height: 5px;
    display: block;
}

/*Mobile*/

@media (max-width: 768px) {
    .page {
        display: block;
        height: 100%;
    }

    .cover {
        position: relative;
        height: 50vh;
        border-right: none;
        border-bottom: 5px solid #111;
    }

    .text-inner {
        padding: 3rem 1rem;
    }

    #ncmg .text-inner {
        max-width: 42rem;
    }
}

/*——Classes*/

.dropcap {
    font-family: "ABC Diatype", Arial, Helvetica, sans-serif;
    font-size: 7rem;
    font-weight: 800;
    color: #111;
    line-height: 4.5rem;
    float: left;
    padding: .75rem .5rem .75rem 0rem;
}

.finger {
    text-align: center;
    padding: 3rem 0;
}

.coda {
    text-align: center;
    color: #111;
    padding: 4rem 0 6rem 0;
}

@media screen and (max-width: 768px) {
    .coda img {
        height: 36px;
        width: 25px;
    }
}

.links {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
}	

.skull {
    text-align: center;
    padding-top: clamp(1rem, 3vw, 1.5rem);
    padding-bottom: 1rem;
}

.part:not(.fin) {
    padding-bottom: clamp(3rem,5vw,4rem);
}

svg.arrow-upper-right-dark {
    width: clamp(15px,3vw,22px);
    height: auto;
    margin: 0 0 .1rem -.1rem;
}

/*——Blink*/

.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

/*Hover image*/

.hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}

.hover-image {
    visibility: hidden;
}

@media only screen and (min-width: 769px) {
    .hover-title:hover + .hover-image {
        visibility: visible;
        pointer-events: none;
    }
}

.hover-image {
    display: flex;
    position: fixed;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    z-index: 999;
}

.hover-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-bottom: 0;
}